.greeting, .balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 5vh;
}

.greeting a, .greeting h2, .balance a, .balance h2 {
    margin: 5px;
}

.operations-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: 0.5s;
}

.operations-info:hover {
    transform: scale(1.05);
}

.operations-info td {
    font-weight: bold;
    text-align: center;
    background-color: #04AA6D;
}

.operations-info th {
    font-weight: normal;
    background-color: #e0eae3;
    width: 50%;
}

.operations-info table {
    width: 90%;
}

.operation-forms, .category-forms {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    box-shadow: 5px 4px 4px #afafaf;
    padding: 5px;
    text-align: center;
    background-color: #e0eae3;
    align-items: center;
    transition: 0.5s;
}

.category-forms {
    flex-direction: column;
    max-height: 35vh;
    justify-content: flex-start;
    width: 80%;
}

.operation-forms:hover, .category-forms:hover {
    transform: scale(1.02);
}

.operation-forms div {
    display: flex;
    flex-direction: column;
}

.limits-block {
    display: flex;
    flex-direction: row;
    min-height: 17vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left-block {
    height: 55vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 55vh;
}

.right-block button {
    height: 10%;
    background-color: #04AA6D;
    color: white;
    border: none;
    box-shadow: 5px 4px 4px #afafaf;
    cursor: pointer;
    font: italic bold 16px cursive;
    transition: 0.5s;
    min-height: 45px;
    margin: 10px;
    text-align: center;
    min-width: 15vw;
}
.right-block button:hover {
    transform: scale(1.1);
}

.all-categories {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.category-form, .limit-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

.category-form div, .limit-form div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.category-form input[type=submit], .limit-form input[type=submit] {
    height: 30px;
    align-self: center;
}

.display-none {
    display: none;
    transition: 2s;
}

.two-blocks-in-row {
    display: grid;
    grid-template-columns:  50% 50%;
    height: 59vh;
}

.limits {
    height: 27vh;
    text-align: center;
}

.limits h3, .limits p {
    margin: 0;
    height: 5vh;
}

.limit, .create-button {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 4px #afafaf;
    margin: 10px;
    min-width: 10%;
    height: 14vh;
    align-items: center;
    background-color: #04AA6D;
    color: white;
    transition: 0.5s;
    max-width: 90vw;
    min-height: 95px;
}

.limit:hover {
    transform: scale(1.1);
}

.limit span {
    font-weight: bold;
    word-break: break-all;
}

.limit p {
    margin: 3px;
}

.center, ul {
    text-align: center;
}

.limit a {
    color: white;
}

li {
    cursor: pointer;
}

.right-block p {
    margin: 0;
}

.create-limit-btn {
    width: 8%;
    height: 50px;
    margin: 10px;
    background-color: #e0eae3;
    border: none;
    box-shadow: 5px 4px 4px #afafaf;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    min-width: 55px;
}

.create-limit-btn:hover {
    transform: scale(1.1);
}

.div-categories {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.div-categories h3 {
    margin: 0;
}

.income-ul, .expense-ul {
    padding: 0;
}

.blink {
    animation: blink 4s infinite;
}

@keyframes blink {
    50% {
        background-color: orange;
    }
}

.create-category-form, .create-limit-form {
    background-color: #e0eae3;
    box-shadow: 5px 4px 4px #afafaf;
    padding: 10px;
    transition: 0.5s;
}

.create-category-form:hover, .create-limit-form:hover {
    transform: scale(1.05);
}

.close-create-category, .close-create-limit {
    float: right;
    cursor: pointer;
}

.create-category-block, .create-limit-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.create-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-block div {
    margin: 5px;
}
