.greeting, .balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 5vh;
}

.greeting a, .greeting h2, .balance a, .balance h2 {
    margin: 5px;
}

.operations-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operations-info td {
    font-weight: bold;
    text-align: center;
    background-color: #04AA6D;
}

.operations-info th {
    font-weight: normal;
    background-color: #e0eae3;
    width: 50%;
}

.operations-info table {
    width: 90%;
    margin-top: 20px;
}

.operation-forms {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    box-shadow: 5px 4px 4px #afafaf;
    padding: 5px;
    text-align: center;
    background-color: #e0eae3;
    align-items: center;
}

.operation-forms div {
    display: flex;
    flex-direction: column;
}

.limits-block {
    display: flex;
    flex-direction: row;
    min-height: 20vh;
    justify-content: center;
    margin-top: 10px;
}

.operations-block {
    height: 55vh;
}

.category-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.category-block button {
    width: 60%;
    height: 10%;
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 5px 4px 4px #afafaf;
    cursor: pointer;
}

.display-none {
    display: none;
}

.category-block form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.two-blocks-in-row {
    display: grid;
    grid-template-columns:  50% 50%;
}

.limit {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 4px #afafaf;
    margin: 10px;
    min-width: 10%;
    height: 100px;
    align-items: center;
    background-color: #04AA6D;
    color: white;
}

.limit span {
    font-weight: bold;
}

.limit p {
    margin: 3px;
}

.center, ul {
    text-align: center;
}

.limit a {
    color: white;
}

.all-categories {
    display: flex;
    flex-direction: row;
}

li {
    cursor: pointer;
}

.category-block p {
    margin: 0;
}
