/*  RESET  */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: italic 16px cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

a {
    color: #073412;
    font-weight: bold;
}

.header {
    height: 4vh;
    background-color: #273034;
    text-align: center;
}

.header a {
    color: white;
}

input[type=submit], button[type=submit] {
    font: italic 16px cursive;
    margin: 2px;
}

.main-wrapper {
    height: 100vh;
}
