.greeting, .balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 5vh;
}

.greeting a, .greeting h2, .balance a, .balance h2 {
    margin: 0.5vh;
}

.balance a {
    margin-left: 1vw;
}

.operations-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    transition: 0.5s;
}

.operations-info td {
    font-weight: bold;
    text-align: center;
    background-color: #04AA6D;
}

.operations-info th {
    font-weight: normal;
    background-color: #e0eae3;
    width: 50%;
}

.operations-info table {
    width: 90%;
}

.operation-forms, .category-forms {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    box-shadow: 5px 4px 4px #afafaf;
    padding: 0.5vh;
    text-align: center;
    background-color: #e0eae3;
    align-items: center;
    transition: 0.5s;
}

.category-forms {
    flex-direction: column;
    max-height: 35vh;
    justify-content: flex-start;
    width: 80%;
}

.left-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left-block, .right-block {
    margin: 2vh;
}

.operation-forms div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limits-block {
    display: flex;
    flex-direction: row;
    min-height: 17vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form input, form select, form div {
    width: 100%;
}

.right-block button {
    height: 10%;
    background-color: #04AA6D;
    color: white;
    border: none;
    box-shadow: 5px 4px 4px #afafaf;
    cursor: pointer;
    font: italic bold 2.4vh cursive;
    transition: 0.5s;
    min-height: 6vh;
    margin: 1vh;
    text-align: center;
    min-width: 15vw;
}

.all-categories {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.category-form, .limit-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1vh;
    align-items: center;
}

.category-form div, .limit-form div {
    display: flex;
    flex-direction: column;
    margin: 0.5vh;
    align-items: center;
}

.category-form input[type=submit], .limit-form input[type=submit] {
    align-self: center;
}

.display-none {
    display: none;
    transition: 2s;
}

.limits {
    height: 27vh;
    text-align: center;
}

.limits h3, .limits p {
    margin: 0;
    height: 5vh;
}

.limit {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 4px #afafaf;
    margin: 1vh;
    min-width: 10%;
    height: 14vh;
    align-items: center;
    background-color: #04AA6D;
    color: white;
    transition: 0.5s;
    max-width: 90vw;
}

.limit span {
    font-weight: bold;
    word-break: break-all;
}

.limit p {
    margin: 0.3vh;
}

.center, ul {
    text-align: center;
}

.limit a {
    color: white;
}

li {
    cursor: pointer;
}

.div-categories {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5vh;
    padding: 1vh
}

.div-categories h3 {
    margin: 0;
}

.income-ul, .expense-ul {
    padding: 0;
}

.blink {
    animation: blink 4s infinite;
}

@keyframes blink {
    50% {
        background-color: orange;
    }
}

.create-category-form, .create-limit-form {
    background-color: #e0eae3;
    box-shadow: 5px 4px 4px #afafaf;
    padding: 1vh;
    transition: 0.5s;
}

.close-create-category, .close-create-limit {
    float: right;
    cursor: pointer;
}

.create-category-block, .create-limit-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.create-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}