{% extends "base.html.twig" %}
{% block title %}Budget Planning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('reset.css', 'css')}}">
{% endblock %}
{% block body %}
    <div class="main-wrapper">
        <div class="greeting block">
            <h1>Welcome to Budget Planning</h1>
            <p>This is a tool for accounting and planning your budget.</p>
            <a href="{{ path('registration') }}">Register</a>
            <a href="{{ path('login') }}">Log in</a>
        </div>
    </div>
{% endblock %}
