{% extends "base.html.twig" %}
{% block title %}Budget Planning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('reset.css', 'css')}}">
{% endblock %}
{% block body %}
    <div class="main-wrapper">
        <div class="form block">
            <h1>Registration</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
